img{
    height: 180px;
    z-index: 0;
    margin-top: 220px;
}

#principal{
    height: 700px;
    position: relative;
}

#principal::after{
    content: ""; 
    background: url(../img/game-of-thrones.jpg);
    opacity: 0.5; 
    position: absolute;
    z-index: -1; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
